doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Drumasters
        meta(name='description' content='Test landing-page "Drumasters"')
        link(rel='apple-touch-icon' sizes="180x180" href='./apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./favicon-16x16.png')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        include ../block/header

        include ../block/banner
        include ../block/about
        include ../block/technologies
        include ../block/portfolio
        include ../block/contacts

        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
