#about
    .about.container
        .title.title_black We are
            span.title_line drupal
            | masters
        .row
            .col-lg-6.font-22
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .col-lg-4.font-16
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .col-lg-2.font-16.about__img-box
                .about__circle.rounded-circle.mx-auto
                .about__caption
                    | We are certificated members of Drupal Association.
