#banner
    .banner.container.d-flex
        .title.title_white Power
            span of
            | Drupal
        .row
            .banner__descr.col-lg-6 We are developing a super cool sites using the power of Drupal CMS. We have great experience and a great pleasure to get down to your project!