header.header.fixed-top
    .header__content.container.d-flex
        .logo Drumasters
        nav.header__nav
            a.header__nav-item(href='#about') About us
            a.header__nav-item(href='#technologies') Technologies
            a.header__nav-item(href='#portfolio') Portfolio
            a.header__nav-item(href='#contacts') Contacts
            button.btn.header__btn Hire us
        .burger
            span