#portfolio
    .portfolio.container
        .title.title_white Our
            span latest
            | works
        .slider.row
            .col-11.col-sm-11.col-md-10
                .slider__item
                    .slider__content
                        .row.slide-hidden
                            .col-lg-5
                                .slide-hidden__title Maunfeld official website
                                a.slide-hidden__link(href='http://www.maunfeld.com/' target='_blank') www.maunfeld.com
                            .col-lg-5
                                | Internet portal for real estate agents. The system daily parse the ads for sale / exchange of real estate and collects them in a database. Finds Ad agents and private individuals. Sytem allows you to create your own ads, put them up for auction, establish a base of potential customers. Create vCard & vCalendar and much more.
                    .slider__content
                        .row.slide-hidden
                            .col-lg-5
                                .slide-hidden__title Maunfeld official website
                                a.slide-hidden__link(href='http://www.maunfeld.com/' target='_blank') www.maunfeld.com
                            .col-lg-5
                                | Internet portal for real estate agents. The system daily parse the ads for sale / exchange of real estate and collects them in a database. Finds Ad agents and private individuals. Sytem allows you to create your own ads, put them up for auction, establish a base of potential customers. Create vCard & vCalendar and much more.