#technologies
    .technologies.container
        .title.title_white Technology
            span stack
        .row
            .col-lg-6.font-22
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            .tech__list.col-lg-6.font-16
                .tech__item.h-100
                    .tech__title Design
                    .tech__descr
                        p Prototyping and mockups, user experience & user interface design, responsive grids.
                        p Few words about our vision of good website design.
                .tech__item
                    .tech__title Frontend
                    .tech__descr
                        p html 5, css 3, javascript, jade, gulp, grunt, scss, less, sass,  canvas, responsive design
                .tech__item
                    .tech__title Backend & Frameworks
                    .tech__descr
                        p Drupal, Twitter Bootstrap, MySQL, jQuery,  PHP, Symfony, git, drush